/* next: make tabs for design section

add more projects to software section and fix the layout of each box*/

/* change the 3d animation to fit every device // maybe work it out in blender // or figure out a way to change it based on IOS DEVICE*/


/* then work on one more design and apply to design internships*/

/*focus on some data analyst projects or continue web developing?*/


/*different pages for react credit: https://codesandbox.io/s/kind-wing-i7zceo?file=/src/index.js*/

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
/* scrollbar */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #000000 #fff0e0;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: #fff0e0;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: -6px;
    border: 0px solid #fff0e0;
  }



body{
  background-color: #FFF0E0;
  font-family: 'Nanum Gothic', sans-serif;
  max-width: 100%;
  margin: 0;
}

html{
overflow-x: hidden;
}

a{
  text-decoration: none;
  color: #000000;
}

/*NAV BAR CSS*/
/*CREDIT: https://wweb.dev/resources/navigation-generator/*/
.menu-container {
  position: relative;
  display: flex;
  align-items: center;

  background: #000000;
  color: #fff0e0;
  padding: 20px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

.menu-container a {
 
  transition: color 0.3s ease;
}

.menu-container a:hover {
  color: #ffbbae;
}

.menu-container input {
  display: block;
  width: 35px;
  height: 25px;
  margin: 0;
  position: absolute;
  cursor: pointer;
  opacity: 0; 
  z-index: 2; 
  -webkit-touch-callout: none;
}

/* Burger menu */
.menu-container span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #fff0e0;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.menu-container span:first-child {
  transform-origin: 0% 0%;
}

.menu-container span:nth-child(3) {
  transform-origin: 0% 100%;
}

.menu-container input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(3px,-1px);
  background: #fff0e0;
}

.menu-container input:checked ~ span:nth-child(4) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-container input:checked ~ span:nth-child(3) {
  transform: rotate(-45deg) translate(-5px,11px);
}

.menu ul {
  list-style: none;
}

.menu li {
  padding: 10px 0;
  font-size: 18px;
}

/* mobile styles */
@media only screen and (max-width: 767px) { 

 body{
   overflow-x: hidden;

 }
  .menu-container {
    flex-direction: column;
    align-items: flex-end;
  }

  .menu-container a{
    color: #fff0e0;
  }
  
  .menu {
    position: absolute;
    box-sizing: border-box;
    width: 300px;
    right: -300px;
    top: 0;
    margin: -20px;
    padding: 75px 50px 50px;
    background: black;
  
    border: 1px solid black;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translateX(0%);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  .menu-container input:checked ~ .menu {
    transform: translateX(-100%);
    
  }
}

/* desktop styles */
@media only screen and (min-width: 768px) { 
  .menu-container {
    width: 100%;
  }

  .menu-container a {
    color: #fff0e0;
  }

  .menu-container input {
    display: none;
  }

  /* Burger menu */
  .menu-container span {
    display: none;
  }

  .menu {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .menu ul {
    display: flex;
    padding: 0;
  }

  .menu li {
    padding: 0 20px;
  }
}


.section1{
  text-align: center;
  /*reduce amount of scrolling in home page*/
  overflow-y: hidden;
  height: 100vh;
}

/*hide second spline and greeting  for desktop*/

#second, .greeting{
  visibility: hidden;
  display: none;
  text-align: center;
}

button{
   margin: 0 auto;
    display: block;
  padding: 10px;

  margin-bottom: 30px;
  height: 40px;
  width: 130px;
  border: 1px solid black;
  background: transparent;
  cursor: pointer;
  transition: all 0.5s ease;
  
}
#one, #two{
  font-size: 42px;
}

/*show second spline for mobile and hide first one*/
@media all and (max-width: 671px) {
  .section1{
    height: 220px;
  }
  .greeting, #second{
    visibility: visible;
    display: inline !important;
  }
  
  #first{
    display: none !important;
  }
}

/*DESIGN AND CODING SECTION*/

#designs, #coding{
  height: 100vh;
  text-align: center;
  
}
h2{
padding: 10px;
  margin-top: 20px;
}

/*design section*/
#gallery {
   line-height:0;
   column-count:4;
   column-gap:20px;
  margin-left: 20px;
  margin-right: 20px;
}

#gallery img {
   width: 100% !important;
   height: auto !important;
   margin-bottom: 20px;
  transition: all 0.2s ease-in-out;
}



#gallery img:hover{
      transform: scale(1.04);
      border: 2px solid black;
  cursor: pointer;

}

/*change number of columns based on viewport width*/
  @media (max-width: 1200px) {
   #gallery {
  
    column-count:         4;
   }
}

@media (max-width: 1000px) {
   #gallery {
   
    column-count:         3;
   }
}

@media (max-width: 800px) {
   #gallery {
    column-count:         1;
   }

}


/*software section*/
#gallery2{
  display: flex;
  justify-content: center;
}

/*glass effect*/
.firstproj{
  width: 450px;
  height: 300px;

border-radius: 10px;
background: rgba( 209, 209, 209, 0.4 );
box-shadow: 0 8px 7px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );

overflow: hidden;

}

.firstproj:hover{
  cursor: pointer;

}

.firstproj:hover #ratio{
   filter: brightness(70%);
}
/*image size within projects*/
#ratio{
  max-width: 100%;
 height: 300px;
 

}

.overlay {
  position: absolute !important;
  bottom: 0;
  left: 0;
  right: 0;
 background-image: linear-gradient(
  45deg,
  hsl(351deg 61% 61%) 0%,
  hsl(354deg 60% 65%) 11%,
  hsl(357deg 59% 69%) 22%,
  hsl(0deg 59% 73%) 33%,
  hsl(4deg 60% 75%) 44%,
  hsl(7deg 61% 78%) 56%,
  hsl(10deg 63% 80%) 67%,
  hsl(14deg 66% 82%) 78%,
  hsl(18deg 69% 84%) 89%,
  hsl(22deg 74% 86%) 100%
  );
  border-radius: 10px;
  overflow: hidden !important;
 
  width: 100%;
  
  height: 0;
  transition: 1.2s ease;
  
}

.firstproj:hover .overlay {
  height: 70%;
  cursor: default;
  
}

button:hover{
  background-color: #ffbbae;
}

#description{
  font-weight: bold;
}