@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');


html, body{
  background-color: #FFF0E0;
 font-family: 'Nanum Gothic', sans-serif;
  max-width: 100%;
    overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
}


.top{
  z-index: 1;
}
main{
  height: 100vh;
}

/* menu*/
.menu-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background: #fff0e0;
  color: #000000;
  padding: 3px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

.menu-container a {
  text-decoration: none;
  color: #fff0e0;
  transition: color 0.3s ease;
}

.menu-container a:hover {
  color: #f58089;
}

.menu ul {
  list-style: none;
}

.menu li {
  padding: 10px 0;
  font-size: 15px;
  font-weight: 300;
}

/* mobile styles */
@media only screen and (max-width: 671px) { 
  .menu-container {
    flex-direction: column;
    position: fixed;
    align-items: flex-end;
  }
  
  .menu {
    position: absolute;
    box-sizing: border-box;
    width: 300px;
    right: -300px;
    top: 0;
    margin: -20px;
    padding: 50px 20px 30px;
    background: #000000;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translateX(0%);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  .menu-container input:checked ~ .menu {
    transform: translateX(-100%);
  }
}

/* desktop styles */
@media only screen and (min-width: 672px) { 
  .menu-container {
    width: 100%;
  }

  .menu-container a {
    color: #000000;
  }

  .menu-container input {
    display: none;
  }

  /* Burger menu */
  .menu-container span {
    display: none;
  }

  .menu {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .menu ul {
    display: flex;
    padding: 0;
  }

  .menu li {
    padding: 0 20px;
  }
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #f58089 #fff0e0;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 15px;
  }

  *::-webkit-scrollbar-track {
    background: #fff0e0;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #f58089;
    border-radius: 24px;
    border: 3px solid #fff0e0;
  }


.section1{
  z-index: -9999;
  height: 100vh;
  text-align: center;
}

#second{
  visibility: hidden;
}

@media all and (max-width: 671px) {
    #second{
      visibility: visible;
    }
  #first{
    display: none !important;
  }
}

.work_button{
 
 width: 150px;
  background-color:transparent;
	border-radius:28px;
	border: 1px solid black;

	cursor:pointer;
	color: black;

	font-size:20px;
	padding: 13px 13px;
	text-decoration: none;
	text-shadow:0px 1px 0px black;
  transition: all 0.2s ease;
}

.button1{
  float: left;
  margin-left: 150px;
  
}
.button2{
  float: right;
  margin-right: 150px;
}
.work_button:hover{

    background-color: #F58089;
    color: #fff0e0;
  border: none;

}

#designs, #coding{
  height: 100vh;
  
}

#icon{
  padding: 30px;
}

